# Python
__pycache__/
*.pyc

# Virtual Env
venv/
.env

# VSCode
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage

# Environment Variables
.env

uploads
uploads/*